.vs/
obj/AperoBoxApi.csproj.nuget.dgspec.json
obj/AperoBoxApi.csproj.nuget.cache
obj/AperoBoxApi.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp3.0/AperoBoxApi.assets.cache
obj/Debug/netcoreapp3.0/AperoBoxApi.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.0/AperoBoxApi.dll
bin/Debug/netcoreapp3.0/AperoBoxApi.pdb