.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
.vs/AperoBoxApi/DesignTimeBuild/.dtbcache
.vs/AperoBoxApi/config/applicationhost.config
.vs/AperoBoxApi/v16/.suo
.vs/AperoBoxApi/v16/Server/sqlite3/db.lock
.vs/AperoBoxApi/v16/Server/sqlite3/storage.ide
.vs/AperoBoxApi/v16/Server/sqlite3/storage.ide-shm
.vs/AperoBoxApi/v16/Server/sqlite3/storage.ide-wal
